@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --orange: #e77927;
  --dark: #0c0d16;
  --almost-white: #f7f9f9;
  --silver: #c5c6ce;
  --light-green: #21897d;
  --dark-grey: #181b21;
  --ash-select: #303236;
  --ash-bg: #23262e;
  --grey: #5a595e;
  --premium-grey: #082c33;
  --player-bg: #1d202b;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--almost-white);
  color: var(--almost-white);
}

main {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  margin: auto;
  background-color: var(--dark);
  /* border-radius: 1.5rem; */
  overflow: hidden;
}

.sidebar-and-content {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  padding: 1rem;
  overflow: hidden;
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-grow: 1;
  width: 75%;
  overflow: hidden;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 20%;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--dark-grey);
}

.sidebar > span:first-child {
  color: var(--orange);
  font-weight: bolder;
  display: flex;
  gap: 0.65rem;
  justify-content: center;
  align-items: center;
}

.sidebar > span:last-child {
  display: flex;
  gap: 0.65rem;
  justify-content: start;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-grow: 1;
}

.links > span {
  display: flex;
  gap: 0.75rem;
  justify-content: start;
  align-items: center;
}

.branding-and-utility > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.profile-and-settings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-container {
  display: flex;
  gap: 1rem;
}

.profile-image {
  width: 40px;
}

.profile-image img {
  max-width: 100%;
  border-radius: 50%;
}

.user-details > p:last-child {
  background-color: var(--premium-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 0.2rem;
  font-size: small;
}

.fav-and-settings {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.fav-and-settings > button {
  background-color: var(--ash-bg);
  border: none;
  padding: 0.5rem;
}

.music-search {
  width: 20rem;
  background-color: var(--ash-bg);
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#search {
  color: var(--almost-white);
  width: 200px;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.8rem;
  flex-grow: 1;
}

/* SONG LIST */
.song-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

.song-list::-webkit-scrollbar {
  width: 6px;
}
.song-list::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}

/* song card */
.song-card {
  position: relative;
  width: 250px;
}

.cover-art img {
  width: 100%;
  border-radius: 0.75rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 13, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--almost-white);
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.song-card .overlay button{
  display: none;
}

.song-card:hover .overlay {
  opacity: 1;
}

.song-card:hover .overlay .info {
  display: none;
}

.song-card:hover .overlay button {
  display: block;
}

/* player */
.player {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--player-bg);
  z-index: 1;
}

.song-details {
  display: flex;
  align-items: center;
  gap: 0.55rem;
}


.song-info {
  width: 6.88rem;
  overflow: hidden;
  position: relative;
  perspective: 400px;
  transform-origin: center;
}

.song-info>p:first-child {
  font-size: larger;
font-weight: bolder;
}



.song-info > p {
  white-space: nowrap;
  animation: rotateText 4s infinite alternate ease-in-out;
  display: inline-block; 
}

@keyframes rotateText {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-20deg); /* Rotate back */
    }
    100% {
        transform: rotateX(20deg); /* Rotate forward */
    }
}

.now-playing {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.playing-cover-art {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}

.playing-cover-art img {
  max-width: 100%;
  max-height: 100%;
}

.progress-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.25rem;
}

#progress-bar {
  width: 100%;
  cursor: pointer;
  height: 0.25rem;
}




.time-track {
  display: flex;
  justify-content: space-between;
}

.action-btns {
  display: flex;
  gap: 1rem;
}

.action-btns > button:nth-child(2) {
  background-color: var(--grey);
}

.pause-icon {
  display: none;
}

.play-icon {
  display: block;
}

.other-actions {
  display: flex;
  gap: 1rem;
}

button {
  background-color: transparent;
  border: none;
  color: var(--almost-white);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}



/* loading */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1000;
}

.loading-spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}